body {
    /* background: url(../images/bg.jpg) no-repeat; */
    /* padding: 0 100px; */
    margin: 0;
    padding: 0;
    background: #fff;
    font: 13px Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
}
.content-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    z-index: -1;
}
.content > h1 {
    font-size: 14px;
    font-weight: normal;
}
nav {
    margin-top: 20px;
}
a { 
    color: #22BAD9;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-decoration: none;
}
nav > a {
    display: inline-block;
    margin: 0px 15px;
}
a:hover {
    color: #fff;
    background: #22BAD9;
    -webkit-text-decoration: none;
    text-decoration: none;
}
.content {
    text-align: center;
    flex: 0 0 auto;
}

#post {
    margin-bottom: 10px;
}
.main {
    padding: 50px 50px;
}
.date {
    display: inline-block;
    width: 80px;
    text-align: right;
    margin-right: 30px;
    color: rgb(153, 153, 153);
}
.article-wrapper {
    max-width: 650px;
    font-size: 14px;
    margin: 50px auto;
    padding: 0 10px;
}
#article-meta > h1 {
    margin-bottom: 10px;
    color: rgb(255, 0, 31);
    font: 500 18px "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
#article-meta > p {
    margin-bottom: 20px;
    color: rgb(119, 119, 119);
}
