body {
    /* background: url(../images/bg.jpg) no-repeat; */
    /* padding: 0 100px; */
    margin: 0;
    padding: 0;
    background: #eee;
}

.header {
    display: block;
    position: relative;
    width: 100%;
    height: 300px;
    border-bottom: 1px solid #ddd;
    background: url(../images/bg.jpg) no-repeat;
    background-size: cover;
}
.header-title {
    position: absolute;
    top: 50%;
    width: 100%;
    color: #fff;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
}
.header-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    padding: 10px 20px;
}
.header-item {
    display: inline;
    margin-left: 10px;
    cursor: pointer;
}
.header-item:hover {
    color: #797979;
}
.content {
    max-width: 1220px;
    margin: 20px auto;
    padding: 0 20px;
}

.sidebar {
    display: inline;
    float: left;
    width: 23.333333333333332%;
    margin: 0 0.833333333333333%;
}
.main {
    display: inline;
    float: left;
    width: 73.33333333333333%;
    margin: 0 0.833333333333333%;
}
.article {
    background: #fff;
    -webkit-box-shadow: 1px 2px 3px #ddd;
    box-shadow: 1px 2px 3px #ddd;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.widget-wrap {
    margin: 50px 0;
}
.widget {
    color: #777;
    text-shadow: 0 1px #fff;
    background: #ddd;
    -webkit-box-shadow: 0 -1px 4px #ccc inset;
    box-shadow: 0 -1px 4px #ccc inset;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 3px;
}